header {font-family:$font-family-pica;height:auto;background:#fff;position:fixed;top:0;left:0;width:100%;z-index:9;border-bottom:3px solid $theme-green;@include transition(all 0.35s ease);
  //.container {position:relative;}
  .logo {max-width:230px;position:absolute;top:100%;left:50%;@include transition(all 0.35s ease);@include transform(translateX(-50%));z-index:2;}
  nav {
    .list-inline {
      li {font-size:1.2rem;}
    }
  }
  .toggle-nav {padding:0.5rem;font-size:130%;line-height:1;}
}

@media screen and (max-width:$screen-sm){
  header {
    .logo {margin-top:-8px;}
    nav {text-align:center;padding:16px 0 11px;
      .list-inline li {padding:0 15px;}
    }
  }
}

@media screen and (min-width:$screen-sm){
  header {
    .container {position:relative;}
    .logo {max-width:none;left:0;top:-18px;@include transform(translateX(0));}
    nav {height:$nav-height-desktop;
      [class*="col-sm-"] {position:relative;}
      .list-inline {padding-top:3rem;margin:0;font-size:0;line-height:0;
        li {line-height:1;
          a {color:$theme-purple;display:block;padding:1rem;text-decoration:none !important;}
          span {display:inline-block;padding:0 4px 4px;border-bottom:2px solid transparent;}
          &:hover, &.active {
            span {border-bottom-color:$theme-green;}
          }
        }
      }
    }

    &.collapse {@include transform(translateY(-100%));
      .logo {left:50%;top:100%;margin-top:-18px;@include transform(translateX(-50%));}
      nav {height:$nav-height-desktop;padding-top:1.6rem;background:#fff;position:relative;z-index:3;border-bottom:3px solid $theme-green;
        .list-inline {padding-top:0;text-align:center;}
      }
      &:hover {@include transform(translateY(0));}
    }
  }
}