// Basics
html, body {font-size:$font-size-base;height:100%;-webkit-font-smoothing:antialiased;}
body {overflow-x:hidden;}
input, textarea, button, a {&:focus, &:active {outline:0 !important;@include box-shadow(none !important);}}
a, a:hover, a:active {cursor:pointer;}
img {@include img-responsive(inline-block);}
.tabular {width:100%;height:100%;display:table;
  .cellular {width:100%;height:100%;display:table-cell;vertical-align:middle;text-align:center;}
}
@include scrollbars(#5d5d5d, 5px);

// headers
#level-1, #level-2, .page-body{width:100%;height:100%;position:relative;}

#level-1 {}

#level-2 {}

.page-body {}

.container-fluid {
  &.p-65 {max-width:65%;}
  &.p-75 {max-width:75%;}
  &.m-800 {max-width:800px;}
  &.m-1020 {max-width:1020px;}
}

h2.subheader {padding-bottom:30px;margin-top:0;margin-bottom:($grid-gutter-width * 1.5);text-align:center;background:transparent url('#{$image-path}divider.png') no-repeat 50% 100%;}

// Fix scroll overflow while in edit mode
html.cms-admin {
  header {top:49px;}
}