.pt-home {
  .welcome {height:100%;
    .custom-slider {top:$nav-height-desktop;height:calc(100% - #{$nav-height-desktop});
      .node {
        .tabular {background:url('#{$image-path}white_glow2.png') no-repeat 50% 50%;background-size:cover;
          .cellular {display:none;}
        }
        &.tablespread {background-image:url('#{$image-path}slider/tablespread.jpg');}
        &.poolparty {background-image:url('#{$image-path}slider/poolparty.jpg');}
        &.winepour {background-image:url('#{$image-path}slider/winepour.jpg');}
        &.smilingbro {background-image:url('#{$image-path}slider/smilingbro.jpg');}
      }
      .tagline {position:absolute;top:0;left:0;z-index:2;}
    }
  }

  .history {height:50%;background:url('#{$image-path}bubbles2.png') repeat-y;background-position:50% 0;
    p {max-width:920px;margin:0 auto;font-family:$font-family-pica;line-height:1.6rem;text-transform:uppercase;}
  }

  .explore {position:relative;height:50%;
    .custom-slider {
      .node {
        &.barrels {background-image:url('#{$image-path}origin_slider/barrels.jpg');}
        &.vineyard {background-image:url('#{$image-path}origin_slider/vineyard.jpg');}
      }
    }
    .arrows {position:absolute;top:50%;display:inline-block;width:auto;padding:8px 12px;margin-top:-30px;opacity:0.5;z-index:2;
      span {display:block;height:41px;width:30px;background:transparent url('#{$image-path}arrows.png') no-repeat;}
      &.left {left:20px;
        span {background-position:0 0;}
      }
      &.right {right:20px;
        span {background-position:100% 0;}
      }
      &:hover {opacity:1;}
    }
  }

  .cellar {height:75%;background:url('#{$image-path}textured.jpg') 50% 50%;
    .products {padding-bottom:2rem;}
    .product-desc {text-align:left;padding:0 2rem;display:none;
      &:nth-of-type(1) {display:block;}
      p {border-top:1px solid $theme-green;padding-top:1rem;}
    }
    h3 {margin:0 0 2rem;}

    .markers {padding-top:8px;border-top:3px solid $theme-green;
      a {font-size:1rem;color:$theme-green;
        .fa-circle {display:none;}
        &.active, &:hover {text-decoration:none;
          .fa-circle {display:inline;}
          .fa-circle-o {display:none;}
        }
      }
    }
  }

  .cellar-bottom {font-family:$font-family-pica-sc;height:25%;background:url('#{$image-path}purple_box.jpg') no-repeat 50% 50%;background-size:cover;
    h4 {color:$theme-green;font-size:1.6rem;margin-top:0;}
    p {color:#fff;font-size:2rem;margin-bottom:0;}
  }

  .experience {text-align:center;padding:4rem 0;display:none !important;/* TEMP */
    .grid {font-size:0;line-height:0;
      .node {font-size:1rem;line-height:1;color:#fff;position:relative;display:inline-block;width:100%;height:300px;background:transparent no-repeat 50% 50%;background-size:cover;overflow:hidden;
        h3 {@include text-shadow(0 1px 1px #000);}
        .tabular {@include transform(translateY(0));@include transition(all 0.35s ease);}
        .hoverd {
          h3 span {display:inline-block;margin:0 auto;padding-bottom:8px;border-bottom:2px solid transparent;}
          p {font-size:1.3rem;line-height:1.5;}
        }
        &:hover .tabular {@include transform(translateY(-100%));}
      }

      .purchase {background-image:url('#{$image-path}experience/purchase.jpg');
        .hoverd {background:rgba($theme-purple, 0.7);
          h3 span {border-bottom-color:$theme-green;}
        }
      }
      .recipes {width:50%;background-image:url('#{$image-path}experience/recipes.jpg');
        .hoverd {background:rgba($theme-green, 0.7);
          h3 span {border-bottom-color:$theme-purple;}
        }
      }
      .press {width:50%;background-image:url('#{$image-path}experience/press2.jpg');
        .hoverd {background:rgba(darken($theme-purple, 10%), 0.7);
          h3 span {border-bottom-color:$theme-green;}
        }
      }
      .events {background-image:url('#{$image-path}experience/events.jpg');
        .hoverd {background:rgba(darken($theme-green, 10%), 0.7);
          h3 span {border-bottom-color:$theme-purple;}
        }
      }
    }
  }

  .contact {height:100%;background:url('#{$image-path}textured.jpg') repeat 50% 50%;
    p {margin-bottom:2rem;}
    .contact-form {padding:($grid-gutter-width * 2);background:rgba(0,0,0,0.08);
      input, textarea {background:transparent;border:0;outline:0;border-bottom:3px solid $theme-green;@include box-shadow(none);}
    }
  }
}